@model Contact;
@{
    ViewBag.Title = "Contact";
    List<SelectListItem> branchlist = new List<SelectListItem>();

    foreach (BRANCH branch in ViewBag.db.BRANCHes)
    {
        SelectListItem i = new SelectListItem();
        i.Text = branch.BRANCH_NAME;
        i.Value = branch.BRANCH_NUM.ToString();
        branches.Add(i);
    }
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Share your Comments with Management</h2>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result", HttpMethod = "Post" }))
{<fieldset>
    <ul>
        <li>
            @Html.LabelFor(f => f.f)
        </li>
    </ul>
    </fieldset>
    ;

