@model IEnumerable<ASPFinal.Models.BOOK>
@{
    ViewBag.Title = "Inventory";
    var book = Model.GroupBy(i => i.BOOK_CODE);
}

@Html.Partial("NavigationBox")

<div class="jumbotron">
    <h1>Henry's BookStore</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="text-center">
        <h2>Browse Inventory</h2>
    </div>
    <div class="col-md-7">
        @foreach (var book_code in book)
        {
            <a href="~/Content/Images/@book_code.Key/large.jpg">
                <img src="~/Content/Images/@book_code.Key/thumb.jpg" alt="Picture Missing" />
            </a>
        }
    </div>
</div>

