@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <ul>
        <a href="~/Views/Home/Index.cshtml">Home</a>
        <a href="~/Views/Home/Inventory.cshtml">Browse Inventory</a>
        <a href="~/Views/Home/Author.cshtml">Browse by Author</a>
        <a href="~/Views/Home/Publisher.cshtml">Browse by Publisher</a>
        <a href="~/Views/Home/Location.cshtml">Browse by Location</a>
        <a href="~/Views/Home/Contact.cshtml">Contact Management</a>
    </ul>
</body>
</html>